<button class='back-button' onclick='goBack()' title='Go Back'><</button>
<div class="top-right-title"><%= title %></div>
<div class="hero">
<ul class='heuristic'>
<% terms.forEach(function(term){ %>
    <% if(term.key === ' ') { %>
        <div class="letter spacer"><br /></div>
    <% } else { %>
        <li class='letter'>
            <a href='term_<%= term.escaped %>.html'><%- term.title %></a>
        </li>
    <% } %>
<% }); %>
</ul>
</div>
<div class="body">
    <%- body %>
</div>