<button class='back-button' onclick='goBack()' title='Go Back'><</button>
<div class="top-right-title"><%= title %></div>
<div class="hero">
<ul class='heuristic'>
<% terms.forEach(function(term){ %>
    <% if(term.key === ' ') { %>
        <div class="letter spacer"><br /></div>
    <% } else { %>
        <li class='letter'>
            <a href='term_<%= term.key %>.html'><%- term.title %></a>
        </li>
    <% } %>
<% }); %>
</ul>
</div>
<div class="body">
    <%- body %>

    <div class="use-count">
        <span class="count">17</span>
        <span class="message">people have found<br />bugs using this</span>
        <button class="plus-one">+1</button>
    </div>
</div>