<div class='header'><%= title %></div>

<% if(similar && similar.length) { %>
    <div class='aka'>
        Also known as 
        <% similar.forEach(function(s){ %>
            <a href='term_<%= s.name %>.html'><%= s.title %></a>
        <% }) %>
    </div>
<% } %>

<%- body %>