<button class='back-button white' onclick='goBack()' title='Go Back'><</button>
<div class='header'><%= title %></div>

<% if(similar && similar.length) { %>
    <div class='aka'>
        Related terms: 
        <% similar.forEach(function(s){ %>
            <a href='term_<%= s.name %>.html'><%= s.title %></a>
        <% }) %>
    </div>
<% } %>
<div class="body">
    <%- body %>
</div>